/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */


body {
  width: 100%;
  margin-top: 0px;
}

/* Menu secundário topo de página*/

.top_navigation{
  padding-right: 7%;
  overflow: hidden;
  background-color: #EEE;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 35px;
}

.menu--second-top-menu a {
  color: #3c4341;
}


.menu--second-top-menu li{
  display:inline-block;
  float: right;
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  z-index: 10;
}

.menu--second-top-menu li a:hover {
  text-decoration: underline;
}

/* Fim Menu secundário topo de página*/

/*


@media(max-width:767px){ .container-fluid {margin-left: 0%; margin-right: 0%;}}
@media(min-width:992px){ .container-fluid {margin-left: 0%; margin-right: 0%;}}
@media(min-width:1200px){ .container-fluid {margin-left: 6%; margin-right: 6%;}}

*/


/* Header e Navbar*/



.navbar-btn>img {
  width: 100%;
  display: block;
  height: auto;
}

.navbar {
  padding-left: 6%;
  padding-right: 6%;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    height: 120px;
    padding-top: 10px;
    /*float: right;*/
    z-index: 9;
    border-bottom: 1px solid #ccc;

}


.navbar-inverse {
    height: 120px;
    padding-top: 10px;
    background: none;
    border: 0;
    border-radius: 0;
    /*float: right;*/
    z-index: 9;
}

.navbar-inverse .menu--main.nav.navbar-nav  li{
  color: #fff;
}

.navbar-nav {
  float: right;
}



.logo {
  padding-top: 10px;
  max-width: 263.8px;
  height: 50.6px;
}

.fa-globe {
  display: inline-block;
  color:#333;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav .nav > li > a:hover {
  color: #fff !important;
}

.menu--main.nav.navbar-nav li {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
}

.menu--main.nav.navbar-nav li > a:hover {
  text-decoration: underline;
  color: #3c4341;
}

.menu--main.nav.navbar-nav .is-active {
  text-decoration: underline;
  background: #FFF;
}

/* Slideshow */

.slideshow{
  position: absolute;
  margin-top: -140px;
}

.carousel-caption{
  padding-bottom: 7%;
}

.carousel-caption h3{
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 40px;
  text-shadow: none;
  font-size: 35px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.5px;
  text-align: center;
  color: #ffffff;

}

.carousel-caption p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 200;
    text-shadow: none;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.05px;
    text-align: center;
    color: #ffffff;
}

.buttonSlideshow{
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px;
  color: #fff;
  letter-spacing: 2.14px;
  border: 2px solid #fff;
  border-radius: 0px;
  display: block;
  margin: auto;
  width: 230px;
  background: none;
}

/* End Slideshow */

/* Fim Header e Navbar*/

/* Main Content*/

/* Block Contadores Front */

#block-contadores {
  margin-top: 30%;
  padding-top:20px;
  margin-left: 6%;
  margin-right: 6%;
}

.headerCont {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
}

.tipoCont{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: right;
  color: #3c4341;
  text-align: center;
}

.numberCont {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
}

.buttonPortal{
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px;
  letter-spacing: 2.14px;
  border: 2px solid #000;
  border-radius: 0px;
  display: block;
  margin: auto;
  width: 230px;
}

/* Fim Contadores */

/* Block Recursos e Serviços Frontpage */

.block-views-blockrecursosservicos-frontpage-block-1{
  padding-top:20px;
  padding-left: 6%;
  padding-right: 6%;
}

.block-views-blockrecursosservicos-frontpage-block-1 h2{
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0px;
}

.block-views-blockrecursosservicos-frontpage-block-1 h3{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  margin-top: 0px;
}

#views-bootstrap-recursosservicos-frontpage-block-1 .views-field-title {
  padding-bottom: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.06px;
  color: #3c4341;
}



#views-bootstrap-recursosservicos-frontpage-block-1 .views-field-field-short-description {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
    color: #666e6c;
}


/* Fim Block Recursos e Serviços Frontpage */

/* Block Notícias Frontpage */

.block-views-blocknoticias-frontpage-block-1{
  padding-top:20px;
  margin-left: 6%;
  margin-right: 6%;
  border-bottom: 1px solid #ddd;
}

.block-views-blocknoticias-frontpage-block-1 h2{
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0px;
}

.block-views-blocknoticias-frontpage-block-1 h3{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  margin-top: 0px;
}

#views-bootstrap-noticias-frontpage-block-1 .views-field-created{
  color: #666e6c;
}

#views-bootstrap-noticias-frontpage-block-1 .views-field-title {
  padding-bottom: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.06px;
  color: #3c4341;
}



#views-bootstrap-noticias-frontpage-block-1 .views-field-body {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
    color: #666e6c;
}

/* Fim Block Notícias Frontpage */

/* Block Eventos Frontpage */

.block-views-blockevents-frontpage-block-1{
  margin-left: 6%;
  margin-right: 6%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.block-views-blockevents-frontpage-block-1 h2{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 0px;
}

.views-field-field-venue-of-event{
  padding-top: 80px;
  padding-bottom: 40px;
  margin-left: 20px;
}

/* Fim Eventos Frontpage */

/* Bloco Parcerias Frontpage*/

#block-parcerias {
  background: #efefef;
  margin-left: -8%;
  margin-right: -8%;
  padding-left: 8%;
  padding-right: 8%;
}

#block-parcerias .field--name-body{
  padding-top: 20px;
}

#block-parcerias h2 {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  margin-bottom: 0px;
}

#block-parcerias h3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  padding-bottom: 40px;
  margin-top: 10px;
}

#block-parcerias img{
  padding: 15px;
}
/* Fim Bloco Parcerias Frontpage*/

/* Bloco Financiadores Frontpage*/

#block-financiadores h2{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 0px;
}

/* Fim Bloco Financiadores Frontpage*/




.main-container.container-fluid.js-quickedit-main-content {
  margin-top: 121px;
  margin-left: 6%;
  margin-right: 6%;
}


h1.page-header{
  /*margin-top: 60px;*/
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: 1.41px;
  color: #3c4341;
  text-transform: uppercase;
}

.page-header {
  border-bottom: 0px  #fff;
}




/* article news, sobre, áreas temáticas content type*/

@media(max-width:767px){article.news, .view-porbiota-sobre, .view-areas-tematicas {
  margin-left: 0px;
  margin-right: 0px;
}}
@media(min-width:768px){article.news, .view-porbiota-sobre, .view-areas-tematicas{
  margin-left: 12%;
  margin-right: 12%;
}}


.view-porbiota-sobre, .view-areas-tematicas {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
}

.views-field-field-image .field-content {
  padding-top: 40px;
  padding-bottom: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* date in news content type*/
.date {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 200;
  color: #CCC;
}

/* image in news content type*/
.field--name-field-image {
  padding-top: 40px;
  padding-bottom: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* highlight in news items*/
.field--name-field-highlight {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: 0.4px;
  color: #3c4341;
  padding-top: 60px;
}

/* text in news items*/
.field--name-body {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
  padding-top: 68px;

  p {
    margin: 0 0 20px;
  }
}

/* Tab Noticias e Eventos */

.tabs--primary {
  margin-top: 10px;
}

.tabs--primary a {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #3c4341;
    opacity: 0.2;
    text-transform: uppercase;
}

.tabs--primary li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #3c4341;
    cursor: default;
    background-color: #fff;
    border: 0px;
    opacity: 1;
}

.tabs--primary li.active > a.is-active {
  text-decoration: underline;
  color: #3c4341;
}

.tabs--primary li > a:hover  {
    background-color: #fff;
    border: 0px;
    color: #3c4341;
}

.tabs--primary.nav.nav-tabs{
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

/* News grid */

.newsGrid .views-col.col-1 {
  max-width: 33%;
  padding-right: 6%;
  padding-top: 20px;
}

.newsGrid .views-col.col-2 {
  max-width: 33%;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 20px;
}

.newsGrid .views-col.col-3 {
  max-width: 33%;
  padding-left: 6%;
  padding-top: 20px;
}

.views-field-created {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #3c4341;
  padding-top: 10px;
}
.views-field-title {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
  padding-top: 10px;
  padding-bottom: 20px;
}

.views-field-title a {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
}

.views-field-field-highlight p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: 0.4px;
  color: #3c4341;
}

/* News item*/

.field--item.center-block {
  width: 50%;
}



/* Events grid in view */


@media(max-width:767px){.eventGrid .views-col.col-1 {width: 100%;}}
@media(max-width:767px){.eventGrid .views-col.col-2 {width: 100%;}}
@media(max-width:767px){.eventGrid .views-col.col-3 {width: 100%;}}
@media(min-width:768px){.eventGrid .views-col.col-1 {width: 33%;}}
@media(min-width:768px){.eventGrid .views-col.col-2 {width: 33%;}}
@media(min-width:768px){.eventGrid .views-col.col-3 {width: 33%;}}
@media(min-width:992px){.eventGrid .views-col.col-1{width: 33%;}}
@media(min-width:992px){.eventGrid .views-col.col-2{width: 33%;}}
@media(min-width:992px){.eventGrid .views-col.col-3{width: 33%;}}
@media(min-width:1200px){.eventGrid .views-col.col-1{width: 33%;}}
@media(min-width:1200px){.eventGrid .views-col.col-2{width: 33%;}}
@media(min-width:1200px){.eventGrid .views-col.col-3{width: 33%;}}

@media(min-width:768px){.eventGrid .firstEvent .views-col.col-1 {width: 100%;}}

.views-field-field-venue-of-event {
  padding-top: 40px;
  margin-left: 20px;
}

/* Next event tag*/

.PRXIMO-EVENTO {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #bdbdbd;
  padding-bottom: 50px;

}

.line hr {
  margin-top: 10px;
  border: 1px solid;
  width: 50%;
  float: left;
}

.dayEventGrid {font-family: 'Poppins', sans-serif; font-size: 24px; font-weight: 400; vertical-align: top;}
.monthEventGrid {font-family: 'Poppins', sans-serif; font-size: 14px; font-weight: 400; text-transform: uppercase;}
.eventTitleGrid {}
.eventVenueGrid {font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 200;}
.eventBodyGrid {font-family: 'Poppins', sans-serif; font-size: 14px; font-weight: 200;}
.eventTitleGrid a {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.17px;
  color: #3c4341;
}

@media(max-width:767px){article.events{
  margin-left: 0px;
  margin-right: 0px;
}}
@media(min-width:768px){article.events{
  margin-left: 12%;
  margin-right: 12%;
}}

@media(max-width:767px){.block-views-blockfirst-events-block-1{
  margin-left: 0px;
  margin-right: 0px;
}}
@media(min-width:768px){.block-views-blockfirst-events-block-1{
  margin-left: 12%;
  margin-right: 12%;
}}

.view-resources-and-services

@media(max-width:767px){.view-resources-and-services{
  margin-left: 0px;
  margin-right: 0px;
}}
@media(min-width:768px){.view-resources-and-services{
  margin-left: 12%;
  margin-right: 12%;
}}

/* text in reources items*/
.view-resources-and-services {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
  padding-top: 68px;

  p {
    margin: 0 0 20px;
  }
}

.view-resources-and-services .view-content {
  padding-top: 50px;
}

.view-resources-and-services .view-content ul {
  list-style: none;
}

.views-exposed-form {
  float: right;
  border: solid 1px #e9e9e9;

}

.select-wrapper {
  display: inline-flex;
  float: right;
}


.views-exposed-form .form-submit{
  color: gray;
  background-color: #EEEEEE;
  border: 0px;
  height: 50px;
}

.form-inline .form-control{
  width: 300px;
}

.form-select .form-control{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: #3c4341;
  border: 0px;

}

.control-label {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
  padding-left: 10px;
  padding-right: 15px;
}

/* Start of footer menu */


.footMenuHeader {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #3c4341;

}

.footMenuHeader a{
  color: #3c4341;
}


.footerMenu {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.2;
  letter-spacing: 0.5px;
  color: #3c4341;
  padding-top: 60px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin-left: -15px;
  margin-right: -15px;
  border-top: 1px solid #ddd;
}

.footerMenu a{
  color: #3c4341;
}

.footerMenu ul {
  list-style: none;
  padding-left: 0px;
}

/* end of Footer menu */

/* Footer Credits */

.footerCredits{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.2;
    letter-spacing: 0.5px;
    margin-left: 6%;
    margin-right: 6%;
    color: #3c4341;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.footerCredits a {
  text-decoration: underline;
  color: #3c4341;
}

.footerCredits .fab {
  letter-spacing: 8px;
}
