/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */


body {
  width: 100%;
  margin-top: 0px;
}

a, a:hover {
  color: #86BC29;
  text-decoration: underline;
}

.main-container {
  max-width: 88%;
}

/* Menu secundário topo de página*/

.top_navigation{
  padding-right: 7%;
  overflow: hidden;
  background-color: #EEE;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 35px;
}

#block-secondtopmenu {
  display: inline-block;
  float: right;
}

.language-switcher-language-url{
  display: inline-block;
  float: right;
  margin-left: 0;
}

.language-switcher-language-url a{
  color: #3c4341;
}

.language-switcher-language-url ul{
  padding-left: 20px;
}

.language-switcher-language-url li{
  display: inline-block;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 12px;
}

.menu--second-top-menu a {
  color: #3c4341;
}


.menu--second-top-menu li{
  display:inline-block;
  float: right;
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  z-index: 10;
}

.menu--second-top-menu li a:hover {
  text-decoration: underline;
}

/* Fim Menu secundário topo de página*/

/*


@media(max-width:767px){ .container-fluid {margin-left: 0%; margin-right: 0%;}}
@media(min-width:992px){ .container-fluid {margin-left: 0%; margin-right: 0%;}}
@media(min-width:1200px){ .container-fluid {margin-left: 6%; margin-right: 6%;}}

*/


/* Header e Navbar*/



.navbar-btn>img {
  width: 100%;
  display: block;
  height: auto;
}

.navbar {
  padding-left: 6%;
  padding-right: 6%;
  z-index: 999;
}

@media (max-width:767px){
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    /*height: 120px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    /*float: right;*/
    z-index: 9;
    border-bottom: 1px solid #ccc;
 }
}

@media (min-width:768px){
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*float: right;*/
    z-index: 9;
    border-bottom: 1px solid #ccc;
 }
}

@media (max-width:767px){
.navbar-inverse {
  /*height: 120px;*/
  padding-bottom: 10px;
  padding-top: 10px;
  border: 0;
  border-radius: 0;
 }
}

@media (min-width:768px){
.navbar-inverse {
  height: 120px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: none;
  border: 0;
  border-radius: 0;
 }
}

.navbar-inverse .menu--main.nav.navbar-nav  li{
  color: #fff;
}

.navbar-nav {
  float: right;
}

.logo {
  padding-top: 10px;
  max-width: 263.8px;
  height: 50.6px;
}

.fa-globe {
  display: inline-block;
  color:#333;
}


.menu--main.nav.navbar-nav li {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
}

.menu--main.nav.navbar-nav li > a:hover {
  text-decoration: underline;
  color: #3c4341;
  background: none;
}

.menu--main.nav.navbar-nav .is-active {
  text-decoration: underline;
  background: #FFF;
}


.navbar-inverse .menu--main.nav.navbar-nav li a {
  color: #fff;
}

.navbar-inverse .menu--main.nav.navbar-nav li > a:hover {
  color: #fff;
}
/* Slideshow */

@media(max-width:767px){
  .slideshow{
    width: 100%;
    position: absolute;
    z-index: 10;
}}

@media(min-width:768px){
.slideshow{
  width: 100%;
  position: absolute;
  margin-top: -140px;
  z-index: 10;
}}

@media(min-width:768px){
  .carousel-inner .item.active .img{
    width: auto;
    height: 800px;
  }
}

@media(max-width:767px){
  .carousel-inner .item.active .img{
    width: auto;
    height: 30%;
  }
}


.carousel-caption{
  padding-bottom: 7%;
}

.carousel-caption h3{
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 40px;
  text-shadow: none;
  font-size: 35px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.5px;
  text-align: center;
  color: #ffffff;

}

.carousel-caption p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 200;
    text-shadow: none;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.05px;
    text-align: center;
    color: #ffffff;
}

@media(max-width:767px){
  .carousel-caption h3{
      font-size: 16px;
  }
  .carousel-caption p{
    font-size: 12px;
  }

}

.carousel a{
  text-decoration: none;
}

.slideshow .btn-default{
  background: none !important;
  color: #fff;
  border: 2px solid #fff;
}


.buttonSlideshow{
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px;
  color: #fff;
  letter-spacing: 2.14px;
  border: 2px solid #fff;
  border-radius: 0px;
  display: block;
  margin: auto;
  width: 230px;
}

.slideshow-credits{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
  padding-left: 15px;
  z-index: 9999;
}

.slideshow-credits a{
  text-decoration: none;
  color: #3c4341;
}

/* End Slideshow */

/* Fim Header e Navbar*/

/* Main Content*/

strong{
  font-weight: 500;
}

.col-sm-12 .region .region-content{
  padding-left: 12%;
  padding-right: 12%;
}

/* Block Contadores Front */

#block-contadores {
  margin-top: 30%;
  padding-top:20px;
  margin-left: 6%;
  margin-right: 6%;
}

.headerCont {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
}

.tipoCont{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: right;
  color: #3c4341;
  text-align: center;
}

.numberCont {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
}

.buttonPortal{
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px;
  letter-spacing: 2.14px;
  border: 2px solid #000;
  border-radius: 0px;
  display: block;
  margin: auto;
  width: 230px;
}

/* Fim Contadores */

/* Block Recursos e Serviços Frontpage */

.block-views-blockrecursos-e-servicos-frontpage-block-1{
  padding-top:20px;
  padding-left: 6%;
  padding-right: 6%;
}

.block-views-blockrecursos-e-servicos-frontpage-block-1 h2{
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}

.block-views-blockrecursos-e-servicos-frontpage-block-1 h3{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  margin-top: 0px;
}

#views-bootstrap-recursos-e-servicos-frontpage-block-1 .views-field-title {
  padding-bottom: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.06px;
  color: #3c4341;
}



#views-bootstrap-recursos-e-servicos-frontpage-block-1 .views-field-field-short-description {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
    color: #666e6c;
}


/* Fim Block Recursos e Serviços Frontpage */

/* Block Notícias Frontpage */


.block-views-blocknoticias-frontpage-block-1{
  padding-top:20px;
  margin-left: 6%;
  margin-right: 6%;
  border-bottom: 1px solid #ddd;
}

.block-views-blocknoticias-frontpage-block-1 h2{
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}

.block-views-blocknoticias-frontpage-block-1 h3{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  margin-top: 0px;
}

#views-bootstrap-noticias-frontpage-block-1 .views-field-created{
  color: #666e6c;
}

#views-bootstrap-noticias-frontpage-block-1 .views-field-title {
  padding-bottom: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.06px;
  color: #3c4341;
}



#views-bootstrap-noticias-frontpage-block-1 .views-field-body {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
    color: #666e6c;
}

/* Fim Block Notícias Frontpage */

/* Block Eventos Frontpage */

.view-id-eventos_node_block{
  border: 1px solid #ccc;
}


.block-views-blockeventos-frontpage-block-1{
  margin-left: 6%;
  margin-right: 6%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.block-views-blockeventos-frontpage-block-1 h2{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 0px;
}

#views-bootstrap-noticias-e-eventos-page-2{
  padding-top: 80px;
  padding-bottom: 40px;
  margin-left: 20px;
}

#views-bootstrap-noticias-e-eventos-page-2 > .col-md-4, #views-bootstrap-noticias-e-eventos-page-2 > .col-lg-4{
  padding-left: 6%;
  padding-left: 6%;
}


/* Fim Eventos Frontpage */

/* Sobre o Porbiota Frontpage */

#block-sobrefrontpage {
  padding-bottom: 60px;
}


.sobreTitulo {
  font-family: Poppins;
  font-size: 42px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.4px;
  text-align: center;
  color: #3c4341;
  padding-bottom: 0px;
}

.sobreParag {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.19;
    letter-spacing: 0.15px;
    text-align: center;
    color: #3c4341;
    padding-top: 40px;
}
.sobreLink {
  text-align: center;
}
.sobreLink a{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #3c4341;
    text-decoration: underline;
  }
}



/* Fim Sobre o Porbiota Frontpage */

/* Bloco Parcerias Frontpage*/


.block-block-content38014bd3-1804-40c2-a5e5-808e256c6951, .block-block-content271923e7-a072-434c-857f-8e7308389775 {
  background: #efefef;
}

#block-parcerias, #block-parceriasen {
  background: #efefef;
  margin-left: -8%;
  margin-right: -8%;
  padding-left: 8%;
  padding-right: 8%;
}

#block-parcerias .field--name-body, #block-parceriasen .field--name-body{
  padding-top: 20px;
}

#block-parcerias h2, #block-parceriasen h2 {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 40px;
}

#block-parcerias h3, #block-parceriasen h3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  padding-bottom: 40px;
  margin-top: 10px;
}

#block-parcerias img, #block-parceriasen img{
  padding: 15px;
  margin-bottom: 40px;
}
/* Fim Bloco Parcerias Frontpage*/

/* Bloco Financiadores Frontpage*/

#block-financiadores h2, #block-financiadoresen h2{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.14px;
  text-align: right;
  color: #3c4341;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 0px;
}

/* Fim Bloco Financiadores Frontpage*/




h1.page-header{
  /*margin-top: 60px;*/
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: 1.41px;
  color: #3c4341;
  text-transform: uppercase;
}

.page-header {
  border-bottom: 0px  #fff;
}




/* article news, sobre, áreas temáticas content type*/

@media(max-width:767px){article.noticias, article.eventos, article.recursos, article.servicos, .view-porbiota-sobre, .view-areas-tematicas {
  margin-left: 0px;
  margin-right: 0px;
}}
@media(min-width:768px){article.noticias, article.eventos, article.recursos, article.servicos, .view-porbiota-sobre, .view-areas-tematicas{
  margin-left: 20%;
  margin-right: 20%;
}}



@media(min-width:768px){.view-display-id-page_4 {
  margin-left: 10%;
  margin-right: 10%;
}}


.view-porbiota-sobre, .view-areas-tematicas {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
}

.views-field-field-image .field-content {
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.views-field-field-image-credits, .field--name-field-image-credits{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #bdbdbd;
  margin-top: -40px;
  margin-bottom: 40px;
}



.view-porbiota-sobre #views-bootstrap-porbiota-sobre-page-4 .views-field-field-image .field-content{

  border: 1px solid #ccc;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 15px;
}

#views-bootstrap-porbiota-sobre-page-4 .img-responsive {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/* date in news content type*/
.date {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 200;
  color: #CCC;
}

/* image in news content type*/
.field--name-field-image {
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* highlight in news items*/
.field--name-field-highlight {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: 0.4px;
  color: #3c4341;
  padding-top: 60px;
}



/* Item notícias*/
.field--name-body {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
  padding-top: 68px;

  p {
    margin: 0 0 20px;
  }
}


.field--name-field-short-description{
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: 0.17px;
  color: #3c4341;
  padding-top: 68px;
}



/* Tab Noticias e Eventos */




.tabs--primary a {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #3c4341;
    opacity: 0.2;
    text-transform: uppercase;
}

.tabs--primary li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #3c4341;
    cursor: default;
    background-color: #fff;
    border: 0px;
    opacity: 1;
}

.tabs--primary li.active > a.is-active {
  text-decoration: underline;
  color: #3c4341;
}

.tabs--primary li > a:hover  {
    background-color: #fff;
    border: 0px;
    color: #3c4341;
}

.tabs--primary.nav.nav-tabs{
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

/* News grid */

#views-bootstrap-noticias-e-eventos-page-1 .views-field-field-highlight .field-content {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: 0.4px;
  color: #3c4341;
  padding-top: 10px;
  padding-bottom: 40px;
}

.newsGrid .views-col.col-1 {
  max-width: 33%;
  padding-right: 6%;
  padding-top: 20px;
}

.newsGrid .views-col.col-2 {
  max-width: 33%;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 20px;
}

.newsGrid .views-col.col-3 {
  max-width: 33%;
  padding-left: 6%;
  padding-top: 20px;
}

.views-field-created, .block-field-blocknodenoticiascreated {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #bdbdbd;
  padding-top: 10px;
}
.views-field-title {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
  padding-top: 10px;
  padding-bottom: 10px;
}

.views-field-title a {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
}

.views-field-field-highlight .field-content {
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: 0.4px;
  color: #3c4341;
  padding-top: 10px;
  padding-bottom: 40px;
}

.views-field-field-highlight .field-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: 0.4px;
  color: #3c4341;
}

/* News item*/

.field--item.center-block {
  width: 50%;
}



/* Events grid in view */

/*
@media(max-width:767px){.eventGrid .views-col.col-1 {width: 100%;}}
@media(max-width:767px){.eventGrid .views-col.col-2 {width: 100%;}}
@media(max-width:767px){.eventGrid .views-col.col-3 {width: 100%;}}
@media(min-width:768px){.eventGrid .views-col.col-1 {width: 33%;}}
@media(min-width:768px){.eventGrid .views-col.col-2 {width: 33%;}}
@media(min-width:768px){.eventGrid .views-col.col-3 {width: 33%;}}
@media(min-width:992px){.eventGrid .views-col.col-1{width: 33%;}}
@media(min-width:992px){.eventGrid .views-col.col-2{width: 33%;}}
@media(min-width:992px){.eventGrid .views-col.col-3{width: 33%;}}
@media(min-width:1200px){.eventGrid .views-col.col-1{width: 33%;}}
@media(min-width:1200px){.eventGrid .views-col.col-2{width: 33%;}}
@media(min-width:1200px){.eventGrid .views-col.col-3{width: 33%;}}

@media(min-width:768px){.eventGrid .firstEvent .views-col.col-1 {width: 100%;}}
*/

.views-col.col-1{
  width: 100% !important;
}
.views-field-field-evento-venue {
  padding-top: 40px;
  margin-left: 20px;
}

.view-id-eventos_node_block .views-field-field-evento-venue{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Next event tag*/

.PRXIMO-EVENTO {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #bdbdbd;
  padding-bottom: 50px;

}

.line hr {
  margin-top: 10px;
  border: 1px solid;
  width: 50%;
  float: left;
}

.dayEventGrid {font-family: 'Poppins', sans-serif; font-size: 24px; font-weight: 400; vertical-align: top;}
.monthEventGrid {font-family: 'Poppins', sans-serif; font-size: 14px; font-weight: 400; text-transform: uppercase;}
.eventTitleGrid {}
.eventVenueGrid {font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 200;}
.eventBodyGridRow {padding-top: 30px;}
.eventBodyGrid {font-family: 'Poppins', sans-serif; font-size: 14px; font-weight: 200;}
.eventTitleGrid a {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.17px;
  color: #3c4341;
}

@media(max-width:767px){article.events{
  margin-left: 0px;
  margin-right: 0px;
}}
@media(min-width:768px){article.events{
  margin-left: 12%;
  margin-right: 12%;
}}

@media(max-width:767px){.block-views-blockfirst-events-block-1{
  margin-left: 0px;
  margin-right: 0px;
}}
@media(min-width:768px){.block-views-blockfirst-events-block-1{
  margin-left: 12%;
  margin-right: 12%;
}}


@media(max-width:767px){.view-recursos-e-servicos{
  margin-left: 0px;
  margin-right: 0px;
}}
@media(min-width:768px){.view-recursos-e-servicos{
  margin-left: 0%;
  margin-right: 0%;
}}

/* text in reources items*/
.view-recursos-e-servicos, .field--name-field-ficheiro-recurso {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
  padding-top: 68px;

  p {
    margin: 0 0 20px;
  }
}

.view-recursos-e-servicos .view-content {
  padding-top: 50px;
}

.view-recursos-e-servicos .view-content ul {
  list-style: none;
}

.views-exposed-form {
  float: right;
  border: solid 1px #e9e9e9;

}

.select-wrapper {
  display: inline-flex;
  float: right;
}


.views-exposed-form .form-submit{
  color: gray;
  background-color: #EEEEEE;
  border: 0px;
  height: 50px;
}

.form-inline .form-control{
  width: 300px;
}

.form-select .form-control{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: #3c4341;
  border: 0px;

}

.control-label {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.17px;
  color: #3c4341;
  padding-left: 10px;
  padding-right: 15px;
}

/* Hide frontpage items*/

.view-frontpage {
  display: none;
}

/* Start of footer menu */


.footMenuHeader {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #3c4341;

}

.footMenuHeader a{
  color: #3c4341;
}


.footerMenu {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.2;
  letter-spacing: 0.5px;
  color: #3c4341;
  padding-top: 60px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin-left: -15px;
  margin-right: -15px;
  border-top: 1px solid #ddd;
}

.footerMenu a{
  color: #3c4341;
}

.footerMenu ul {
  list-style: none;
  padding-left: 0px;
}

/* end of Footer menu */

/* Footer Credits */

.footerCredits{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.2;
    letter-spacing: 0.5px;
    margin-left: 6%;
    margin-right: 6%;
    color: #3c4341;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.footerCredits a {
  text-decoration: underline;
  color: #3c4341;
}

.footerCredits .fab {
  letter-spacing: 8px;
}
